<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 ERROR</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/msgTemplate.css">
</head>
<body>
<div class="content">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <h1>403</h1>
                            <h3>服务器拒绝处理该次请求</h3>
                            <p>可能的原因：</p>
                            <p>1.权限不足</p>
                            <p>
                                <a href="javascript:history.back()" class="a">
                                    <span>[ 点击这里返回上一页 ]</span>
                                </a>
                            </p>
                            <p>
                                <a href="/index/" class="a">
                                    <span>[ 点击这里返回首页 ]</span>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>