a {
    text-decoration: none;
}

.modal-fullscreen {
    height: auto;
}

.nav-secondary {
    width: 80%;
    height: 50px;
    line-height: 30px;
    font-size: 14px;
    position: fixed;
    left: 10%;
    z-index: 2;
}

#includeWork {
    width: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
}

#inc-su-admin {
    margin-top: 10px;
}